freightbro/
gh/
Modern\ Csv/
configstore/
flutter/
htop/
iterm/
solana/
wireshark/
.DS_Store
tmux/plugins/*
tmux/resurrect

raycast/extensions/*
nvim/plugin/packer_compiled.lua
karabiner/automatic_backups/*
