{
 :devices {
           :sculpt-keyboard [{:product_id 1957 :vendor_id 1118}]
           }
 :simlayers {
             :f-mode {:key :f}    ; delimeters    ( ) [ ] { } and other symbols ~ $ &
             ; :d-mode {:key :d}    ; arithmetic    + - * / = % < > #
             ; :s-mode {:key :s}    ; punctuation   ? ! : ; ' " ` ~
             ; :a-mode {:key :a}    ; navigation hjkl + tab + enter + page down/up
             ; ;
             ; :q-mode {:key :q}    ; General shortcuts (browser etc.) - not settled
             ; :w-mode {:key :w}    ; Selection left and right (letter, word, line)
             ; :e-mode {:key :e}    ; Movement left and right (letter, word, line)
             ; :r-mode {:key :r}    ; Deletion left and right (letter, word, line)
             ; ;
             ; :g-mode {:key :g}    ; Mouse scroll, desktop left-right, zoom in-out, screenshot (not implemented)
             ; ;
             ; :v-mode {:key :v}    ; Number pad with + - BS ENTER as well
             ; :c-mode {:key :c}    ; Slashes and lines  ^ | \ _ @
             ; :x-mode {:key :x}    ; Some multi-character shortcuts like <= (not implemented)
             }
 :main [
        {:des "f-mode for delimeters and ! ? $"
         :rules [:f-mode
                 ;; u i j k m comma -> !Sopen_bracket !Sclose_bracket !S9 !S0 open_bracket close_bracket
                 [:##u :!Sopen_bracket]
                 [:##i :!Sclose_bracket]
                 [:##j :!S9]
                 [:##k :!S0]
                 [:##m :open_bracket]
                 [:##comma :close_bracket]
                 ;; o l period -> !S1 !Sslash !S4
                 [:##o :!S1]
                 [:##l :!Sslash]
                 [:##period :!S4]
                 ]
         }
        ]
 }
